header,h1{background-color: aquamarine;margin: 0px;margin-bottom: 10px;}
h1{display: inline;}
#setting{background-color: gainsboro;padding: 1em;}
td{padding: 0.7em 0.2em;}
tr{border-bottom: 1px solid black;;}
select{width: 50%;font-size: large;}
table{margin-top: 2em;margin-bottom: 2em;border-collapse:collapse;width: 100%;}
input[type="text"]{width:10em;font-size: large;max-width:100%;padding:0.2em;}
#m::before{content:"M:";}
#n::before{content:"N:";}
